.auction {
	@include grid-block($orientation: vertical);
	.auction-item-list {
		@include grid-block($wrap: true);

		.auction-item {
			@include grid-block(3);
			padding: 0.25rem;

			&.sold {
				opacity: 0.4;
			}

			.name {
				background-color: #e0e0e0;
				padding: 0.25rem 0.5rem;
				flex-grow: 1;
				line-height: 1.5;
				min-width: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.choose-item {
				line-height: 1;
				margin: 0;
				padding: 0;
			}
		}
	}
	
	.auction-current {
		@include grid-block();
		padding: 1rem;
	}

	.title {
		font-size: 0.9rem;
		margin: 0;
		padding: 0.25rem 0.5rem;
	}

	.auction-teams {
		@include grid-block();
		@include grid-size(shrink);
		.team {
			@include grid-content();
			font-size: 1.2rem;
			font-weight: bold;
			padding: 0.5rem;
			text-align: center;
		}
	}
}


.current-auction {
	@include grid-block($orientation: vertical);

	.bid-list {
		@include grid-block($orientation: vertical);
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;

		& > .bid {
			@include grid-block(shrink);

			& > .team {
				@include grid-content();
				padding: 1rem;
			}
			& > .amount {
				@include grid-content(shrink);
				padding: 1rem;
				font-size: 3rem;
				line-height: 1;
				font-weight: bold;
			}
			& > button {
				margin: 0;
			}
		}
	}

	.auction-time {
		height: 1.6rem;
		margin-bottom: 1rem;
	}
}


.inline-label > input, .inline-label > select {
	min-width: 1rem;
}