.card {
	&.no-border {
		// Makes border look closer to the box shadow
		border: 1px solid #DDDDDD;
	}

	.card-header {
		@include card-divider(#ffffff, $card-padding);
		padding-bottom: $card-padding / 2;
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			font-size: rem-calc(20);
		}
	}
}