.full-table {
	width: 100%;
}

.table-form {
	& > tbody {
		& > tr > td {
			padding-top: rem-calc(8);
		}
	}
	label {
		margin: 0;
		& > input {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	select {
		margin-bottom: 0;
	}
	button {
		margin-bottom: 0;
	}
}