.connecting {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	color: #ffffff;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000;
	
	&-info {
		text-align: center;
		
		.title {
			color: #ffffff;
		}
		.subtitle {
			color: #cccccc;
		}
	}
	
}

/* From http://tobiasahlin.com/spinkit/
 */
.spinner {
  margin: 2rem auto 2rem;
  width: 70px;
  text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #ffffff;

	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	animation-delay: -0.16s;
}


@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0);
	}
	40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}