$primary-color: #039be5;
$success-color: #4caf50;
$warning-color: #ffeb3b;
$alert-color: #ff5722;

$team-colors: (
		"red": #e57373,
		"pink": #f06292,
		"purple": #ba68c8,
		"deep-purple": #9575cd,
		"indigo": #7986cb,
		"blue": #64b5f6,
		"light-blue": #4fc3f7,
		"cyan": #4dd0e1,
		"teal": #4db6ac,
		"green": #81c784,
		"light-green": #aed581,
		"lime": #dce775,
		"yellow": #fff176,
		"amber": #ffd54f,
		"orange": #ffb74d,
		"deep-orange": #ff8a65,
		"white": #ffffff,
);

$team-colors-bg: (
		"red": #ffcdd2,
		"pink": #f8bbd0,
		"purple": #e1bee7,
		"deep-purple": #d1c4e9,
		"indigo": #c5cae9,
		"blue": #bbdefb,
		"light-blue": #b3e5fc,
		"cyan": #b2ebf2,
		"teal": #b2dfdb,
		"green": #c8e6c9,
		"light-green": #dcedc8,
		"lime": #f0f4c3,
		"yellow": #fff9c4,
		"amber": #ffecb3,
		"orange": #ffecb3,
		"deep-orange": #ffccbc,
		"white": #ffffff,
);

