@import "colors";
@import "foundation";

@import "components/auction";
@import "components/alert-box";
@import "components/card";
@import "components/feature-list";
@import "components/items-list";
@import "components/table";
@import "components/teams-list";
@import "components/title-bar";

body {
	background-color: #f5f5f5;
}

.content {
	padding-top: rem-calc(16);
}

.main-content {
	@include card-container();
	@include grid-block($orientation: vertical);
	@include grid-container();
	background-color: #fff;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	overflow: initial;
	margin: 0 rem-calc(8);

	.action-log {
		@include grid-block($size: 3, $orientation: vertical);
		max-width: 100%;
		max-height: 30vh; /* Chrome pls */

		.action-log-header {
			@include grid-content(shrink);
			@include card-divider();
			font-size: rem-calc(12);
			font-weight: bold;
			padding: $card-padding / 2;
		}
		.action-log-content {
			@include grid-content(shrink);
			@extend ul.no-bullet;
			overflow-y: scroll;
			flex: 1 1 auto;
		}
	}

	.footer {
		background-color: #e0e0e0;
		color: #757575;
		font-size: rem-calc(13);
		margin-left: -1px;
		margin-right: -1px;
		padding-top: rem-calc(8);
		padding-bottom: rem-calc(8);
		text-align: right;

		a {
			color: #616161;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.timer {
	font-size: 1.5rem;
	text-align: center;
}

#__bs_notify__ {
	bottom: 0;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 5px;
	top: auto !important;
}