$primary: #039be5;
$success: #4caf50;
$warning: #ffeb3b;
$alert: #ff5722;

$team-colors: (
		"red": ("main": #e57373, "background": #ffcdd2),
		"pink": ("main": #f06292, "background": #f8bbd0),
		"purple": ("main": #ba68c8, "background": #e1bee7),
		"deep-purple": ("main": #9575cd, "background": #d1c4e9),
		"indigo": ("main": #7986cb, "background": #c5cae9),
		"blue": ("main": #64b5f6, "background": #bbdefb),
		"light-blue": ("main": #4fc3f7, "background": #b3e5fc),
		"cyan": ("main": #4dd0e1, "background": #b2ebf2),
		"teal": ("main": #4db6ac, "background": #b2dfdb),
		"green": ("main": #81c784, "background": #c8e6c9),
		"light-green": ("main": #9ccc65, "background": #dcedc8),
		"lime": ("main": #cddc39, "background": #f0f4c3),
		"yellow": ("main": #ffeb3b, "background": #fff9c4),
		"amber": ("main": #ffd54f, "background": #ffecb3),
		"orange": ("main": #ffb74d, "background": #ffe0b2),
		"deep-orange": ("main": #ff8a65, "background": #ffccbc),
		"white": ("main": #cccccc, "background": #ffffff),
);

